.bs-project-slider {
	@apply overflow-hidden;

	.swiper {
		&-wrapper {
			@apply items-center;
		}

		&-slide {
			width: 200px;
			padding: 60px 20px;
			transition: all 0.3s;

			&.is-current {
				padding: 0;
			}
		}
	}

	&__content {
		@apply text-center mb-5 px-5;

		@screen lg {
			@apply text-left mb-0 pl-0 pr-5 ml-auto;
			width: 330px;
		}

		&-label {
			@apply text-main font-extrabold text-14px mb-6;
		}

		&-title {
			@apply text-36px lg:text-40px xl:text-56px font-bold mb-6;
		}

		&-desc {
			@apply text-18px leading-normal font-normal;
		}
	}

	&__controll {
		@apply w-12 h-12 rounded-full border border-main flex items-center justify-center cursor-pointer xl:w-16 xl:h-16;
	}
}
