.bs-vertical-slider {
	.swiper {
		&-slide {
			.bs-vertical-slider__item {
				transition: all 0.5s;
				transform: scale(0.7);
				opacity: 0.2;
			}

			&.swiper-slide-active {
				.bs-vertical-slider__item {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}

	&__item {
		max-width: 820px;
		@apply relative z-0 mx-16 md:mx-24 lg:mx-auto;

		&-pic {
			@screen md {
				padding-right: 180px;
			}

			@screen xl {
				padding-right: 240px;
			}
		}

		&-number {
			font-weight: 700;
			line-height: 1.1;
			font-size: 100px;
			@apply text-main absolute right-0 -top-16 -z-10;

			@screen md {
				font-size: 200px;
				@apply top-0;
			}

			@screen lg {
				font-size: 280px;
			}
		}

		&-title {
			@apply text-white text-36px md:text-56px xl:text-80px font-semibold mt-10 mb-3;
		}

		&-note {
			@apply text-main text-18px leading-relaxed xl:text-25px;
		}

		&-link {
			@apply absolute inset-0;
		}
	}
}
